body{
    margin:0;
    background-color: #000000;
    font-family: serif;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width:90%;
    margin: 0 auto;
    max-width: 1100px;
    z-index: 10;
    margin-left: 5%;
}
#title{
    flex-grow: 1;
    min-width: 266px;
    text-align: center;
}
#title, h1, h2{ 
  display: inline-block;
}
.space{
    flex-grow: 1;
}
#nav{
    flex-grow: .4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 328px;
}
.menu{
    margin: 0;
    
}
.menu a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 5%;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    color: #ffffff;
    margin: 10px auto auto auto;
}
hr{
    width:260px;
    margin:0px auto 4px auto;
    border-width: 1.5px;
    border-style: solid;
    border-color: #ffffff;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin:0 auto;
}



.container {
    position: relative;
    width:500%;
    max-width: 6500px;
    top:130px;
    margin: 0px;
    padding:10px;
    padding-left: 90%;
    -webkit-overflow-scrolling: touch;
    }
.box{
    background-color:#ccc;
    opacity: .85;
    padding:10px;
    padding-left: 35px;
    height:700px;
         
}
.content{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #000000;
    margin:10px auto;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    opacity: 1;
}
.section{
    -webkit-columns: 300px 3;
    -webkit-column-gap: 80px;
    -webkit-column-rule:;
    margin-right: 10px;
    margin-top: 55px;
    padding-left: 15px;
    max-height: 620px;
    overflow-y: hidden;
}

.page-space{
    height: 50px;
    width: auto;
}
.intro{

}

.history{
    
}
.people{

}
.politics{
    
}




h3{
   font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin:0 auto; 
    z-index: 11;
    margin-bottom: 20px;
    height: 550px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin:0 auto; 
}
p{
    margin: 5px auto;
}
.column-image{
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 653px;
    
}
.larger{
    margin-top: 5px;
    margin-bottom: 10px;
    width:700px;
    
    

}






.backgrnd{
    z-index: -5;
    min-height: 100%;
    min-width: 1024px;
    height: auto;
    position:  absolute;
    top: 0;
    left: 0;
    margin-left: -385px;
}




@media screen and (max-width: 1024px) { 
  img.bg {
    left: 40%;
    margin-left: -800px; 
  }
}
@media screen and (max-width: 850px) {
    .menu a{
     font-size: 35px;   
    }
    #title{
    flex-basis:60px;
    min-width: 250px;
    }
    h1{
    font-size: 45px;
    }
    hr{
     width: 210px;   
    }
    h2{
    font-size: 15px;  
    }
}
@media screen and (max-width: 775px) {
    .menu a{
     font-size: 30px;   
    }
}
@media screen and (max-width: 700px) {
    .menu a{
     font-size: 25px;   
    }
    h1{
    font-size: 35px;
    }
    hr{
     width: 170px; 
    }
    h2{
      
    }
    #title{
     min-width: 220px;   
    }
}
@media screen and (max-width: 600px) {
    
}